body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #19191a;
  color: white;
  text-align: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Title{
  color : gold; font-family: "Lucida Handwriting", cursive; font-size: 60px; line-height: 160px; font-weight: normal; margin-bottom: 0px; margin-top: 0px; text-align: center; text-shadow: 0 1px 1px goldenrod; letter-spacing: 0px;
}

.Career{
  color: #7a7c7f; font-size: 29px; font-family: "Lucida Handwriting", serif; line-height: 45px; text-align: center; padding-top: 0px;
}

.Details{
  padding-left: 30px;
  padding-right: 30px;
  color: whitesmoke; font-size: 20px; font-family: "Garamond", serif; line-height: 30px; text-align: center; padding-top: 2px;
}

.showButton{
  margin-top: 35px; background-color: goldenrod; font-family: "Lucida Handwriting"; border-radius:5px; border: goldenrod; padding-left: 10px; padding: 10px 20px 10px 10px;
}

.showButton:hover{
  background-color: gold; border: gold;
}

.cardButton{
  margin: 10px; background-color: goldenrod; font-family: "Lucida Handwriting"; border-radius:5px; border: goldenrod; padding-left: 10px; padding: 10px 20px 10px 10px;
}

.menuButton{
  margin: 30px 10px 0px 10px; background-color: goldenrod; font-family: "Lucida Handwriting"; border-radius:5px; border: goldenrod; padding-left: 10px; padding: 10px 20px 10px 10px;
}

.menuButton:hover{
  background-color: gold; border: gold;
}

.cardButton:hover{
  background-color: gold; border: gold;
}

.card-text{
  color: black; font-size: 15px; font-family: "Garamond", serif; line-height: 30px; text-align: center; padding-top: 2px;
}

.card-title{
  font-weight: bold; color: black; font-size: 20px; font-family: "Lucida Handwriting", serif; line-height: 30px; text-align: center; padding-top: 2px;
}

.detail-card-text{
  color: black; font-size: 20px; font-family: "Garamond", serif; line-height: 10px; text-align: center;
}



.users-grid{
  padding-left: 150px;
  gap: 120px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
}

.question{
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  color: whitesmoke; font-size: 22px; font-family: "Lucida Handwriting", serif; line-height: 30px; text-align: center; padding-top: 2px;
}


.answerButton{
  margin-top: 20px; margin-bottom: 30px; background-color: goldenrod; font-family: "Lucida Handwriting"; border-radius:5px; border: goldenrod; padding-left: 10px; padding: 10px 20px 10px 10px;
}

.answerButton:hover{
  background-color: gold; border: gold;
}

.answer{
  padding-left: 90px;
  padding-right: 90px;
  color: whitesmoke; font-size: 19px; font-family: "Garamond", serif; line-height: 30px; text-align: center; padding-top: 2px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-top: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}